# Chi-Square Test

* Chi-Sqaure tests of independence test whether two qualitive variable are indipentdent, i.e whether there exists a relationship between two
  categorical  variable.

* **Hypothesis:** The Chi-Sqaure test of independence is a hypothesis test it has a null(Ho) and alternative(Ha) Hypothesis.
   1. Ho - the **variables are independent there is no relationship** between the two categorical variables. Knowing the
           values of one variable does not help to predict the value of the other variable.
   2. Ha - the **variable are dependent there is a relationship** between the two categorical variables knowing the values of one
           variable helps to predict the value of the other variable.
* The Chi-Sqaure test is used when the data is categorical and it detects the difference between observed data and what could we expect
  if the Ho is true.
* Expected frequence tells us how the frequencies will look like if the **Null Hypothesis(Ho)** is true.
* If, **Observered Frequency** != **Excpected Frequency** --> **Columns are gonna be Dependent**
* Chi - Distribution is always gonna be **Right Skeweness**

In [1]:
#import librarie
from scipy import stats as st
from scipy.stats import chi2_contingency
import pandas as pd

In [2]:
#import the dataset file(.CSV)
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/chi2.csv', index_col = 0)
df

   Athlete Smoker
0        Y    yes
1        Y    yes
2        Y     no
3        Y     no
4        Y    yes
5        Y     no
6        Y    yes
7        Y     no
8        Y     no
9        Y     no
10       Y     no
11       Y     no
12       Y     no
13       Y     no
14       Y     no
15       Y     no
16       Y     no
17       Y     no
18       N    yes
19       N    yes
20       N    yes
21       N    yes
22       N    yes
23       N    yes
24       N    yes
25       N    yes
26       N    yes
27       N    yes

In [3]:
#To calculate the observered Frequencies we need to create the following table
obs = pd.crosstab(index = df['Athlete'], columns = df['Smoker'])
obs

Smoker   no  yes
Athlete
N         0   10
Y        14    4

In [4]:
# we need to calculate the contingency which will give us following values:
# Chi2 = Chi-Square statistical value || P-value || Degrees of Freedom(df) || Expected Frequency = exp
chi2, p, df, exp = chi2_contingency(obs)

In [5]:
chi2 , df

(12.6, 1)

In [6]:
p

0.00038574675568200776

In [7]:
exp

array([[5., 5.],
       [9., 9.]])

In [8]:
#Conclusion
if p < 0.05:
    print("Reject the Null Hypothesis i.e columns are dependent on eachother.")
else:
    print("Fail to Reject Null Hypothesis")

Reject the Null Hypothesis i.e columns are dependent on eachother.

In [9]:
1-st.chi2.cdf(12,6,1)

0.0883764323567855